<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    {{!-- Google Fonts --}}
        <link href="https://fonts.googleapis.com/css?family=Pacifico|Slabo+27px" rel="stylesheet">

    {{!-- Style Sheet --}}
        <link href="/assets/css/burgerStyle.css" rel="stylesheet" type = "text/css">
        
    {{!-- Title --}}
        <link rel="icon" type="image/ico" href="/assets/images/burgertitle.png"/>       
        <title >Eat Da Burger!</title>


</head>













</html>