<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    {{!-- Google Fonts --}}
        <link href="https://fonts.googleapis.com/css?family=Pacifico|Oswald|Slabo 27px" rel="stylesheet">

    {{!-- Style Sheet --}}
        <link href="/assets/css/burgerStyle.css" rel="stylesheet" type = "text/css">

    {{!-- Title --}}
        <link rel="icon" type="image/icon" href="/Users/mariamchaudry/gtcbc/homework/Eat-da-Burger/public/assets/images/burgertitle.png"/>      
         
        <title >Eat Da Burger!</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

</head>

<!-- Link in jQuery -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

<script src="/assets/js/burgers.js"></script>

<body>
    {{{ body }}}
</body>

<br><br>

    <!-- Input New Burgers Form -->
    <form action="burger/create" method="POST">

        <!-- Text Area Input -->
        <div class="row">

            <!-- Empty Div to help center textarea -->
            <div class="col-md-3"></div>

            <!-- Burger Input Box -->
            <div class="form-group col-md-6">
                <center><label for="new_burger" class = "label">Type in the name of your favorite veggie burger and place your order!</label></center>
                <textarea class="form-control" columns="8" rows="4" id="new_burger" name="burger_name"></textarea>
            </div>

            <!-- Empty Div to help center textarea -->
            <div class="col-md-3"></div>
        </div>

        <!-- Submit Button -->
        <center>
            <a class="waves-effect waves-light btn" id = "button">Place Order</a>
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
        
        </center>

    </form>

    <br>

</div>

</body>
</html>

</html>