<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    {{!-- Google Fonts --}}
        <link href="https://fonts.googleapis.com/css?family=Pacifico|Oswald|Slabo 27px" rel="stylesheet">

    {{!-- Style Sheet --}}
        <link href="/assets/css/burgerStyle.css" rel="stylesheet" type = "text/css">

    {{!-- Title --}}
        <link rel="icon" type="image/icon" href="/Users/mariamchaudry/gtcbc/homework/Eat-da-Burger/public/assets/images/burgertitle.png"/>      
         
        <title >Eat Da Burger!</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

</head>

{{!-- <!-- Link in jQuery -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script> --}}

<body>
    {{{ body }}}

<!-- Link in jQuery -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="/assets/js/burgers.js"></script>

</body>

</html>
